/*GENERAL*/

.body-wrap {
  display: flex;
}

.box {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.5em;
  padding: 1.5em 1em;
  line-height: 1.5em;
}

.title {
  font-family: flood-std, sans-serif;
  font-size: 1.2em;
}

/*ENTRIES*/

/*all entries page*/

  .all-entries-wrap {
    display: grid;
    grid-template-columns: auto auto;
    width: 50%;
  }
  
  .entry-wrap:first-child {
    margin-top: 5%;
  }
  
  .entry-preview {
    height: 80%;
    width: 70%;
    margin: 10% 0 0 10%;
    color: rgba(27, 134, 170, 0.5);
  }
  
.entry-img-wrap {
    margin-bottom: 1em;
}
  
.entry-img {
    opacity: 0.8;
    max-height: 70%;
    max-width: 90%;
    border-radius: 0.2em;
}
 
.entry-img:hover {
    opacity: 1;
}
  
.title-link:hover {
    color: rgba(27, 134, 170, 0.6)
}

.entry-preview-header {
  line-height: 1em;
}

.authorData {
  display: inline-flex;
  justify-content: space between;
  align-items: center;
  margin-top: 5%;
}

.authorImg {
  height: 1.5em;
  width: 1.5em;
  border-radius: 1.5em;
  margin-right: 0.5em;
}

/* Responsiveness - blog list entries */
@media only screen and (max-width: 750px) {
  .all-entries-wrap {
      grid-template-columns: auto;
      width: 30%;
  }
  .entry-preview {
      width: 65%;
      margin: 8% 0 0 10%;
  }
}

/*single entry page*/

.single-entry-wrap {
  width: 60%;
  margin: 5% 0 0 20%;
}

.entry-detail {
  height: 100vh;
  width: 100%;
  color: rgba(27, 134, 170, 0.5);
  box-sizing: border-box;
}

.detail-img, .detail-img:hover {
  opacity: 1;
}

.detail-title {
  color: white;
  font-size: 2em;
  margin-top: -20%;
}

.detail-text {
  margin: 20% 0 0 10%;
  width: 80%;
}
.view-all-btn {
  width: 25%;
  margin-top: 10%;
}

.view-all-link {
  color: lightgrey;
  padding: 1em;
}

/*MAP*/

.map-wrap {
    text-align: center;
    background-color:  rgba(255, 255, 255, 0.9);
    width: 50%;
}
  
.map-heading {
    margin-top: 7%;
    font-family: flood-std, sans-serif;
    font-size: 1.5em;
    color: rgba(27, 134, 170, 0.6);
}
  
  /* Responsiveness - map area */
  
@media only screen and (max-width: 750px) {
    .map-wrap {
      width: 70%;
    }
}

/*CONTACT PAGE*/

#contact-header {
  font-size: 1.5em;
}

.contact-page {
  color: rgba(27, 134, 170, 0.6);
  width: 60%;
  margin: 5% 0 0 20%;
  height: 100vh;
}