/*NAVIGATION*/

.header-wrapper {
    display: flex;
    justify-content: space-between;
    height: 6vh;
    padding: 1em;
    /* background-image: url('https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-size: 1000px; */
    background-color: rgba(27, 134, 170, 0.6);
  }
  
  .nav-left, .nav-right {
    display: flex;
    align-items: center;
  }
  
  .nav-left div, .nav-right div {
    margin: 0em 0.4em;
  }
  
  #logo {
    font-family: flood-std, sans-serif;
    font-size: 2.5em;
    margin-left: 0.5em;
  }

  #contact {
    color: white;
  }
  
  #contact:visited {
    color:rgba(255, 255, 255, 0.2)
  }
  
  nav div button {
    color: rgba(20, 112, 143, 0.6);
    background-color: white;
  }