body {
  /* background-image: url('https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-size: 100vmax;
  background-repeat: no-repeat; */
  background-color: rgba(27, 134, 170, 0.5);
  box-sizing: border-box;
  color: white; 
  font-size: 0.8em;
}

a:hover, button:hover {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: rgba(27, 134, 170, 0.5);
}

/* in case I wanna add an animation...

  @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

  @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
} */
